<p id='user-info'>
  Вы зашли как <%= current_user.username %>
  <br/>
  <%= link_to 'Редактировать', edit_user_path(current_user) %>
  <br/>
  <%= link_to 'Выйти', '/logout' %>
</p>

<h1>Гипотеза Симона о факториале</h1>
<p>
  Существует гипотеза Симона о факториале. Она гласит, что существует 4 факториала,
  которые представимы в виде произведения трех последовательных чисел.
  Например: 4! = 2 · 3 · 4. Написать программу, определяющую эту четверку,
  подсчитать действительное количество таких факториалов, если это возможно и тем самым доказать неправильность
  гипотезы. Вывести на печать результаты каждой итерации и финальных расчетов.
</p>
<%= form_tag('/view.json', :method => 'get', remote: true, id: 'factorials-form') do %>
  <%= label_tag(:max_n, 'До какого числа искать нужные числа: ') %>
  <%= number_field_tag(:max_n, '20') %>
  <%= submit_tag('Посчитать факториалы', id: 'get-result') %>
<% end %>

<div id='result'></div>
